<h1>Q: <%= @question.title %></h1>
<p><%= @question.content %></p>

<%= form_for [@question, Answer.new], :remote => true do |f| %>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, :placeholder => "Answer this question" %><br>
    <%= f.submit "Submit Answer", :class => "btn btn-large btn-primary" %>
  </div>
<% end %>

<ul class="answers">
  <% @answers.each do |answer| %>
    <li>
      <%= answer.content %>
      Posted by: <%= answer.user.name %> 
      <% if answer.user == current_user %>
      <%= link_to '', question_answer_path(@question, answer), 
          :class => 'icon-remove', :remote => true, :method => 'delete' %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Index", root_path %>
