<h1><%= @question.title %></h1>
<p><%= @question.content %></p>


<%#= link_to "Answer This Question", new_question_answer_path(@question) %> 

<%= form_for [@question, Answer.new], :remote => true do |f| %>
  <div>
    <%= f.label :content %><br>
    <%= f.text_area :content, :placeholder => "Answer this question" %>
    <%= f.submit "Submit Answer" %>
  </div>
<% end %>

<ul class="answers">
  <% @answers.each do |answer| %>
    <li><%= answer.content %></li>
    Posted by: <%= answer.user_id %></li>
  <% end %>
</ul>

<%= link_to "Back to Index", root_path %>
