<h1>Q: <%= @question.title %></h1>
<p><%= @question.content %></p>

<%= form_for [@question, Answer.new], :remote => true do |f| %>
  <div>
    <%= f.label :content %><br>
    <%= f.text_area :content, :placeholder => "Answer this question" %>
    <%= f.submit "Submit Answer" %>
  </div>
<% end %>

<ul class="answers">
  <% @answers.each do |answer| %>
    <li>
      <%= answer.content %>
      Posted by: <%= answer.user_id %> 
      <% if answer.user == current_user %>
        <%= link_to '[x]', question_answer_path(@question, answer), :class => 'delete', :remote => true, :method => 'delete' %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Index", root_path %>
